* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
.header {
  background-color: #f1f1f1;
  padding: 20px 20px;
}
.header-container {
  max-width: 1137px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 11px;
  margin-left: 11px;
}
.login {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}
