* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #202020;
}
.header {
  background-color: #f1f1f1;
  padding: 20px 20px;
}
.header-container {
  max-width: 1137px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 11px;
  margin-left: 11px;
}
.login {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}
/* hero */
.hero {
  padding: 62px 71px;
}
.hero-container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}
.hero-image {
  margin-right: 122px;
}
.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}
.title {
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.info-text {
  flex-basis: 45%;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favorites {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
}
.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
}
.button-primary {
  background-color: #f89c02;
  color: #ffffff;
  margin-right: 20px;
}
.button-outline {
  text-decoration: none;
  color: #f89c02;
  border: 2px solid #f89c02;
}
